{% load static from staticfiles %}


<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block nav %}

<!-- NavBar -->
{% if request.user.is_authenticated %}
    <span class="nav-item text-light font-weight-bold">{{ request.user.username }}</span>
    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
{% else %}

<div class="Navbar">
    <ul>
        <a href="{% url 'visitors:index' %}"><img src="{% static 'logo.png' %}" width="120"></a>
        <li><a href="#">| Special Package | </a></li>
        <li><a href="{% url 'visitors:all_room' %}">| Rooms |</a></li>
        <li><a href="#">| Service |</a></li>
        <li><a href="#">| Business |</a></li>
        <li><a href="#">| Dining |</a></li>
        <li><a href="#">| Gallary |</a></li>
        <li><a href="#">| Blog |</a></li>
        <li><a href="#">| Contact |</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
         {% endif %}
    </ul>
</div>

  {% endblock %}
  {% block content %}{% endblock %}
</body>
</html>


