{% extends 'base.html' %}	
{% block content %}
{% block title %}   {% endblock %}
{% load static from staticfiles %}
<div class="smallBox">
	<h1> Welcome To info Page </h1>

	<p>
		The Dan Eilat Red Sea Hotel was recently voted one of the top ten hotels in the Mediterranean and Africa by the prestigious publication Condé Nast Traveler. This self-contained vacation paradise, blends luxury and style with fun and round-the-clock activities. 

		Located in a spectacular beachfront setting on the magical Red Sea, the Dan Eilat Hotel offers guests everything they can imagine and more. Ready to welcome you are dramatic public areas with special light effects, superb guestrooms and suites offering Red Sea-view balconies and state-of-the-art amenities. Guests staying in Executive rooms, Terrace rooms or Suites benefit from complimentary access to the Executive Lounge, offering snacks and drinks throughout the day. 

		The Dan Eilat Hotel is additionally famed for its fine cuisine and international restaurants noted for their exciting variety and gourmet menus drawn from every corner of the globe. Whether it’s a lavish Israeli-style breakfast, a casual lunch, or five-star banquet, expect dazzling presentations that make every meal a gastronomic masterpiece, in atmospheric settings either indoor or out.

		The Dan Eilat Hotel is located in the center of town, minutes away from the beachfront and the lagoon. Across from the hotel is the large Mul Hayam mall and an abundance of restaurants and bars. Only a few kilometers away is Eilat’s famous Underwater Observatory – a marine safari filled with colorful fish and creatures from the Red Sea.  Also in close proximity is the Dolphin Beach, a magical place where humans and dolphins can swim and interact.

		An outdoor swimming pool (heated in winter), a children's pool and playground, Danyland’s supervised children’s day play center, as well as a beauty salon, drugstore, cascading waterfalls, a water slide, squash, disco, sumptuous spa, and state-of-the-art conference facilities are just some of the attractions of the most glamorous hotel in Eilat where the entertainment, all-age activities, and action never seem to stop. This, together with the constant attention of our caring and friendly staff makes the Dan Eilat Hotel an unmatched vacation resort.

		The Dan Eilat Hotel is one of the seven Dan hotels to have received an Excellence Award from the renowned international travel site, Booking.com. It received a score of 8.7, second only to the King David Hotel in Jerusalem. The Dan Eilat Hotel first opened its doors in 1995 on the north beach of Eilat. 

		Located in an area that covers over 54,000 square meters. Recently, the world-famous Adam Tihany completely redesigned the hotel, thus giving it a unique look and feel. One of the main reasons why the Dan Eilat Hotel is so different is because of the vast open spaces throughout the hotel and the comfortable lighting effects that are used to make guests’ visits as relaxing and as peaceful as possible. 

		The hotel's new design was planned for over four years, and a number of model rooms were created before work began. At Dan Hotels, our customers are our number one priority, and that is why we pay great attention to every detail. Our goal in redesigning the hotel was to update the décor of our hotel and bring it three decades forward without losing the hotel's unique identity. We have already completed the first phase of the redesign, which has led to the renovation of 124 rooms. 

		We have selected everything in the Eilat Hotel with great care to ensure that our customers enjoy the best possible travel experience. Every room in the hotel now features a painting by a renowned Israeli artist, Natan Yosef. 

		The brightly colored walkways and corridors are a pleasure to walk through spreading joy wherever you step. We want you to enjoy your stay at the Dan Eilat Hotel, and hope that your visit will be superb and that you will truly enjoy the experience.  
	</p>
</div>
{% endblock %} 