{% extends "base.html" %}
{% block content %}
{% block title %} Staff  {% endblock %}


<div class="container">

	<ul class="list-group">
		<li class="list-group-item"> <a href="url_for" class="btn btn-warning"> View Bookings </a> </li>
		<li class="list-group-item"> <a href="url_for" class="btn btn-warning"> modify Bookings </a> </li>
		<li class="list-group-item"> <a href="url_for" class="btn btn-warning"> Messages </a> </li>
		<li class="list-group-item"> <a href="url_for" class="btn btn-warning"> Delete Reviews </a> </li>
	</ul>
</div>


{% endblock %} 
