{% extends 'base.html' %}
{% block content %}

{% block title %} Visitors  {% endblock %}

<div class="container">
	<p> This is the Torqauy Hotel. We are so cool I love this hotel is is so bangin' if you hatin' you can leave!</p>

	<ul class="list-group">
		<!--- ASk Yair if this can be done more efficiently--->
		<li class="list-group-item"><a href="url_for" class="btn btn-warning"> Vacancies </a> </li>
		<li class="list-group-item"><a href="url_for" class="btn btn-warning"> Book </a> </li>
		<li class="list-group-item"><a href="url_for" class="btn btn-warning"> Request INfo </a> </li>
		<li class="list-group-item"><a href="url_for" class="btn btn-warning"> write review </a> </li>
	</ul>
</div>

{% endblock %} 
